pkgbase = python-cx-freeze
	pkgdesc = Create standalone executables from Python scripts
	pkgver = 7.2.0
	pkgrel = 1
	url = https://marcelotduarte.github.io/cx_Freeze
	arch = x86_64
	license = PSF-2.0
	checkdepends = python-pytest-mock
	checkdepends = python-pytest-xdist
	checkdepends = python-pytest-datafiles
	checkdepends = python-pytest
	makedepends = python-wheel
	makedepends = python-build
	makedepends = python-installer
	depends = glibc
	depends = patchelf
	depends = python
	depends = python-packaging
	depends = python-setuptools
	depends = python-filelock
	depends = python-pyqt5
	provides = python-cx_freeze
	conflicts = python-cx_freeze
	replaces = python-cx_freeze
	source = https://github.com/marcelotduarte/cx_Freeze/archive/7.2.0/python-cx-freeze-7.2.0.tar.gz
	sha512sums = e7ff9c3ed578e20d9c85b8b500ba405fff924325d61d0f92a2a42898d46ba2d32216ada31d255252f8962731f2c0a59dae94a803fca31c6acea0dfdea16db2eb

pkgname = python-cx-freeze
