pkgbase = python-cx-freeze
	pkgdesc = Create standalone executables from Python scripts
	pkgver = 7.1.1
	pkgrel = 2
	url = https://marcelotduarte.github.io/cx_Freeze
	arch = x86_64
	license = PSF-2.0
	checkdepends = python-pytest-mock
	checkdepends = python-bcrypt
	checkdepends = python-cryptography
	checkdepends = python-openpyxl
	checkdepends = python-pandas
	checkdepends = python-pillow
	checkdepends = python-pydantic
	checkdepends = python-pytz
	checkdepends = rpm-tools
	checkdepends = python-pytest-xdist
	checkdepends = python-pytest-datafiles
	makedepends = python-wheel
	makedepends = python-build
	makedepends = python-installer
	depends = glibc
	depends = patchelf
	depends = python
	depends = python-packaging
	depends = python-setuptools
	depends = python-filelock
	depends = python-pyqt5
	provides = python-cx_freeze
	conflicts = python-cx_freeze
	replaces = python-cx_freeze
	source = https://github.com/marcelotduarte/cx_Freeze/archive/7.1.1/python-cx-freeze-7.1.1.tar.gz
	sha512sums = ad9e534f181db1577043149836dbffc95e0ae59a3b5bb4c87e349ab3b87f6a7f6425e123f3c8d38520e8b67e976e0e71ff6a113171b501f764708ba58d55728a

pkgname = python-cx-freeze
